

*{
box-sizing: border-box;
  padding:0;
  font-family:sans-serif; 
  text-transform: uppercase;
  margin:0;
}

/*----------------------Desktop-----------------------------*/

.background{
   display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.bg-image{
  display: grid;
  height: 307px;
  opacity:0.5;
  overflow: hidden;
  
}


.bg-image img {
    width: 100%;
    display: inline-grid;
}

.ticket{
     margin: 10px;
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    border: 1px solid black;
    width: 98.6%;
}


.ticket .header{
  background-color:transparent;
  display:grid;
  grid-template-rows: 1fr;
  color:white;
  text-align:center;
  padding:45px 0px 52px;
  border-right:1px solid black;

}


.ticket .header h1{
  color:black;
  font-size: 4em;
  letter-spacing: 9px;
  margin-bottom :5px;
 width: 100%;
  
}

.ticket .header p{
 grid-row: 1 / 3;
font-size:10px;
letter-spacing: 7px;
  margin-bottom:20px;
  color:black;
}

.ticket > div{
grid-column: 1/ span 2;

}

.ticket .qrCode{
  color:yellow;
  grid-column: 3/ span 3;
  grid-row: 1/ span 3;
  width: 100%;
text-align:center;
}



.qrCode img{
 width: 200px;
}


.ticket .footer{
display:grid;
grid-template-columns:repeat(3,1fr);
   grid-column: 1/ span 2;
  
  }


.footer>p{
  text-align:center;
  width: 100%;
  border:1px solid black;
  font-weight:600;
  padding:10px;
  border-bottom:none;
}

.ticket .date,.ticket .info,.ticket .price,.ticket .description{
  border-left:none;
}


.ticket .description{
  display:block;
  grid-column: 1/ span 3;
  font-weight:100;
  font-size:12px;
}

.ticket .footer span{
  font-weight:100;
}

/*----------------------End-Desktop-----------------------------*/



/*-------------------------Mobile-------------------------------*/

@media(max-width: 639px){
  
  .bg-image {
    display: grid;
    height: 750px;
    opacity: 0.5;
    overflow: hidden;
    background: red;
    /* align-items: center; */
    align-content: start;
}
  
  .bg-image img{
    
    height: inherit;
    width: auto;
    
  }
  
  
  .ticket{
  
  margin:0;
  padding:0;
  border:none;
  grid-template-columns: none;
  width: 100%; 
  display: grid;
  height: 100%;
  align-content: space-between;
 
  }
  
  .ticket .header{
  background-color:black;

  text-align:center;
  padding:20px;
  width:100%;
  
}
  
  .ticket .header h1{
    color: white;
  font-size: 2.2em;
  letter-spacing: 9px;
  margin-bottom :20px;
}
  
  .ticket .header p{
font-size:10px;
letter-spacing: 7px; 
color :white;
 grid-row: 2/ 3;
}
  
  .ticket .qrCode{
 text-align:center;
 padding: 10% 0px 9% 0px;
  grid-column: 1 / 3;
  grid-row: none;
}
  
   .ticket .qrCode img{
  width: 50%;
}
  
  .ticket .footer{
display:grid;
grid-template-columns:repeat(2,1fr);

  }
  
  
   .ticket .footer > p{
  text-align:center;
  width: 100%;
  border:1px solid black;
  font-weight:600;
  padding:10px;
    
}
  
   .ticket .footer .price{
  grid-column: 1 / span 2;
  border-top:none
  
}
  
   .ticket .footer .description{
  display:none;
}
  
  
  .ticket .footer .date{
    border-right:none;
  } 
  
}


/*------------------------End-Mobile-------------------------------*/