
*{
box-sizing: border-box;
  padding:0;
  font-family:sans-serif;
  font-weight:900;
  font-size:1.05em;
  text-align:center;
  
}



.grid{
   display:grid;
  

}

.grid > div{
  display: grid;
   margin-bottom:8px;
  min-height: 100px;
   align-items:center;
  justify-content:center;
  max-width: 100%;

}

.grid > div p{
  text-transform: uppercase;
  letter-spacing: -1.5px;
}

.red-box{
  background-color:red;
}

.yellow-box{
  background-color: yellow;
  
}

.blue-box{
  background-color: #62FFF3;
}



@media(min-width: 25em){
  
  .grid {
 /*grid-template-columns:50% 50%;*/
    grid-template-columns:repeat(2,1fr);
    
grid-column-gap: 8px;
height: 800px;
}
  
  
  .blue-box{
    grid-column:1/1;
    grid-row:2;
  }
  
  
  .yellow-box{
    grid-column:2/2;
    grid-row:3;
   
  }
  
  
  
}


@media(min-width:65em){
  .grid {
 /*grid-template-columns:50% 50%;*/
    grid-template-columns:repeat(5,1fr);
    height: 550px;
grid-column-gap: 8px;
  

}
  
  .blue-box{
   grid-column:3;
   
    grid-row:1/4;
  }
  
  
   .yellow-box{
   grid-column:4/6;
   
    grid-row:2/4;
  }
  
  .grid > div{
 

}
  
  
}

@media(min-width:70em){
  
  .grid {
 
height: 450px;
}
  
}